
/* wide area */
div.contentMain {
    margin: 10px;
    padding: 5px;
}

#tableArea {
    margin: 10px;
    padding: 5px;
}



div.gridArea {
    margin: 10px;
    padding: 5px;
}

/* condition Area */


