<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>main</title>
    </head>
    <body>
        <h1>화면 리스트</h1>
        <br/>
        <p>/web</p>
        <a href="/web/buy/contentlist" target="_blank" rel="noopener">/web/buy/contentlist</a><br/>
        <a href="/web/buy/contentinsert" target="_blank" rel="noopener">/web/buy/contentinsert</a><br/>
        <br/>
        <a href="/web/buy/dcontentlist" target="_blank" rel="noopener">/web/buy/dcontentlist</a><br/>
        <a href="/web/buy/dcontentinsert" target="_blank" rel="noopener">/web/buy/dcontentinsert</a><br/>
        <br/>
        <a href="/web/buy/shippinglist" target="_blank" rel="noopener">/web/buy/shippinglist</a><br/>
        <a href="/web/buy/shippinginsert" target="_blank" rel="noopener">/web/buy/shippinginsert</a><br/>
        <br/>
        <a href="/web/memo/locationlist" target="_blank" rel="noopener">/web/memo/locationlist</a><br/>
        <a href="/web/memo/locationinsert" target="_blank" rel="noopener">/web/memo/locationinsert</a><br/>
        <br/>
        <a href="/web/memo/comcdlist" target="_blank" rel="noopener">/web/memo/comcdlist</a><br/>
        <a href="/web/memo/comcdinsert" target="_blank" rel="noopener">/web/memo/comcdinsert</a><br/>
        <br/>
        <a href="/web/memo/memotimelist" target="_blank" rel="noopener">/web/memo/memotimelist</a><br/>
        <a href="/web/memo/memotimeinsert" target="_blank" rel="noopener">/web/memo/memotimeinsert</a><br/>
        <br/>
        <p>/buy</p>
        <a href="/buy/content/all" target="_blank" rel="noopener">/buy/content/all</a><br/>
        <a href="/buy/dcontent" target="_blank" rel="noopener">/buy/dcontent</a><br/>
        <a href="/buy/shipping" target="_blank" rel="noopener">/buy/shipping</a><br/>
        <br/>
        <p>/memo</p>
        <a href="/memo/comcd" target="_blank" rel="noopener">/memo/comcd</a><br/>
        <a href="/memo/location" target="_blank" rel="noopener">/memo/location</a><br/>
        <a href="/memo/memotime" target="_blank" rel="noopener">/memo/memotime</a><br/>
        <br/>
        <p>swagger</p>
        <a href="/v2/api-docs" target="_blank" rel="noopener">api-docs</a><br/>
        <a href="/swagger-ui/index.html" target="_blank" rel="noopener">swagger-ui</a><br/>
        <br/>
    </body>
</html>