<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>main</title>
    </head>
    <body>
        <h1>화면 리스트</h1>
        <br/>
        <p>/web</p>
        <a href="/web/buy/contentlist" target="_blank">/web/buy/contentlist</a><br/>
        <a href="/web/buy/contentinsert" target="_blank">/web/buy/contentinsert</a><br/>
        <br/>
        <a href="/web/buy/dcontentlist" target="_blank">/web/buy/dcontentlist</a><br/>
        <a href="/web/buy/dcontentinsert" target="_blank">/web/buy/dcontentinsert</a><br/>
        <br/>
        <a href="/web/buy/shippinginfolist" target="_blank">/web/buy/shippinginfolist</a><br/>
        <a href="/web/buy/shippinginfoinsert" target="_blank">/web/buy/shippinginfoinsert</a><br/>
        <br/>
        <a href="/web/memo/comcdlist" target="_blank">/web/memo/comcdlist</a><br/>
        <a href="/web/memo/comcdinsert" target="_blank">/web/memo/comcdinsert</a><br/>
        <br/>
        <a href="/web/memo/locationcdlist" target="_blank">/web/memo/locationcdlist</a><br/>
        <a href="/web/memo/locationcdinsert" target="_blank">/web/memo/locationcdinsert</a><br/>
        <br/>
        <a href="/web/memo/memotimelist" target="_blank">/web/memo/memotimelist</a><br/>
        <a href="/web/memo/memotimeinsert" target="_blank">/web/memo/memotimeinsert</a><br/>
        <br/>
        <p>/buy</p>
        <a href="/buy/content/all" target="_blank">/buy/content/all</a><br/>
        <a href="/buy/dcontent" target="_blank">/buy/dcontent</a><br/>
        <a href="/buy/shoppinginfo" target="_blank">/buy/shoppinginfo</a><br/>
        <br/>
        <p>/memo</p>
        <a href="/memo/comcd" target="_blank">/memo/comcd</a><br/>
        <a href="/memo/locationcd" target="_blank">/memo/locationcd</a><br/>
        <a href="/memo/memotime" target="_blank">/memo/memotime</a><br/>
        <br/>
    </body>
</html>