<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1>화면 리스트</h1>
        <br/>
        <br/>
        <p>/buy</p>
        <a href="/buy/contentList/all" target="_blank">/buy/contentList/all</a><br/>
        <a href="/buy/addContent" target="_blank">/buy/addContent</a><br/>
        <br/>
        <a href="/buy/dcontentList" target="_blank">/buy/dcontentList</a><br/>
        <a href="/buy/addDContent" target="_blank">/buy/addDContent</a><br/>
        <br/>
        <a href="/buy/shippingInfoList" target="_blank">/buy/shippingInfoList</a><br/>
        <a href="/buy/addShippingInfo" target="_blank">/buy/addShippingInfo</a><br/>
        <br/>
        <p>/memo</p>
        <a href="/memo/commonCdList" target="_blank">/memo/commonCdList</a><br/>
        <a href="/memo/addCommoncd" target="_blank">/memo/addCommoncd</a><br/>
        <br/>
        <a href="/memo/locationCdList" target="_blank">/memo/locationCdList</a><br/>
        <a href="/memo/addLocationcd" target="_blank">/memo/addLocationcd</a><br/>
        <br/>
        <a href="/memo/memoTime" target="_blank">/memo/memoTime</a><br/>
        <a href="/memo/addMemotime" target="_blank">/memo/addMemotime</a><br/>
        <br/>
        <p>/web</p>
        <a href="/web/buy/contentlist" target="_blank">/web/buy/contentlist</a><br/>
        <a href="/web/buy/contentinsert" target="_blank">/web/buy/contentinsert</a><br/>
        <br/>
        <a href="/web/buy/dcontentlist" target="_blank">/web/buy/dcontentlist</a><br/>
        <a href="/web/buy/dcontentinsert" target="_blank">/web/buy/dcontentinsert</a><br/>
        <br/>
        <a href="/web/buy/shippinglist" target="_blank">/web/buy/shippinglist</a><br/>
        <a href="/web/buy/shippinginsert" target="_blank">/web/buy/shippinginsert</a><br/>
        <br/>
        <a href="/web/memo/comcdlist" target="_blank">/web/memo/comcdlist</a><br/>
        <a href="/web/memo/comcdinsert" target="_blank">/web/memo/comcdinsert</a><br/>
        <br/>
        <a href="/web/memo/locationcdlist" target="_blank">/web/memo/locationcdlist</a><br/>
        <a href="/web/memo/locationcdinsert" target="_blank">/web/memo/locationcdinsert</a><br/>
        <br/>
        <a href="/web/memo/memotimelist" target="_blank">/web/memo/memotimelist</a><br/>
        <a href="/web/memo/memotimeinsert" target="_blank">/web/memo/memotimeinsert</a><br/>
        <br/>
    </body>
</html>