<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <head th:replace="~{comm/header}"> </head>
        
        <title>공통코드 입력</title>
    </head>
    <body>
        <script>
            
        </script>

        <div class="contentMain" >

            <h1 id="h1area">공통코드</h1>

            <div class="conditionArea">

                <form action="#" th:action="@{/memo/comcd}" th:object="${CommonCdList}" method="post">

                    <table id="tableArea">
                        
                        <tr>
                            <td>공통코드 구분</td>
                            <td>
                                <input type="text" th:field="*{cdKind}" list="cdKindList" />
                                <datalist id="cdKindList" >
                                    <option th:each="cdKind : ${allCdKindList}" 
                                            th:value="${cdKind.code}" th:utext="${cdKind.codename}" />
                                </datalist>
                            </td>
                        </tr>
                        <tr>
                            <td>공통코드</td>
                            <td>
                                <input type="text" th:field="*{cd}" />
                            </td>
                        </tr>
                        <tr>
                            <td>공통코드명</td>
                            <td><input type="text" th:field="*{cdNm}" /></td>
                        </tr>
                        <tr>
                            <td>비고</td>
                            <td><input type="text" th:field="*{note}" /></td>
                        </tr>
                        <tr>
                            <td><input type="submit" id="dataInput" value="입력" ></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
    <script type="text/javascript" >
        
        // 종류 변경시 그리드 데이터 재조회
        $("#contentTypeCd").change(function() {

        });

    </script>
</html>