<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <head th:replace="comm/header"> </head>

        <title>방 위치정보 입력</title>
    </head>
    <body>
        <script>
            
        </script>

        <div class="contentMain" >

            <h1 id="h1area">방 위치정보</h1>

            <div class="conditionArea">

                <form action="#" th:action="@{/memo/location}" th:object="${LocationCdList}" method="post">

                    <table id="tableArea">
                        
                        <tr>
                            <td>방위치 코드</td>
                            <td>
                                <input type="text" th:field="*{locationCd}" list="locationCdList" />
                                <datalist id="locationCdList" >
                                    <option th:each="locationCd : ${allLocationCd}" 
                                            th:value="${locationCd.code}" th:utext="${locationCd.codename}" />
                                </datalist>
                            </td>
                        </tr>
                        <tr>
                            <td>방위치 설명(주소)</td>
                            <td><input type="text" th:field="*{locationDesc}" /></td>
                        </tr>
                        <tr>
                            <td>비고</td>
                            <td><input type="text" th:field="*{note}" /></td>
                        </tr>
                        <tr>
                            <td><input type="submit" id="dataInput" value="입력" ></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </body>
    <script type="text/javascript" >
        
        // 종류 변경시 그리드 데이터 재조회
        $("#contentTypeCd").change(function() {

        });

    </script>
</html>