<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <head th:replace="comm/header"> </head>

        <title>구입목록</title>
    </head>
    <body>
        <script>
            
        </script>

        <div class="contentMain" >

            <h1 id="h1area">구입목록</h1>

            <div class="conditionArea">

                <table id="tableArea">
                    <tr>
                        <td>조회조건을 선택하세요!</td>
                    </tr>
                    <tr>
                        <td>종류</td>
                        <td>
                            <select id="contentTypeCd">
                                <option value="all">전체</option>
                                <option value="Bluray">블루레이</option>
                                <option value="DVD">DVD</option>
                                <option value="Album">CD</option>
                                <option value="Book">서적</option>
                                <option value="Figure">피규어</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="button" id="dataInput" value="데이터 입력" onclick=""></td>
                    </tr>
                </table>
            </div>

            <div id="gridArea">
                <div id="grid"></div>
            </div>

        </div>
    </body>
    <script type="text/javascript" >
        let grid;
        
        function createGrid( urlString ) {
            var dataSource =
            {
                api: {
                    readData: { url: '/buy/contentList/' + urlString, method: 'GET' }
                    //createData: { url: '/api/create', method: 'POST' },
                    //updateData: { url: '/api/update', method: 'PUT' },
                    //deleteData: { url: '/api/delete', method: 'DELETE' },
                    //modifyData: { url: '/api/modify', method: 'POST' }
                }
            };

            return new tui.Grid({
                el: document.getElementById('grid'),
                data: dataSource,
                rowHeaders: [
                        { type: 'rowNum', width: 100, align: 'left', valign: 'bottom' },
                        { type: 'checkbox' }
                        ],
                columns: [
                        { header: '구입정보ID', name: 'contentListId', editor: 'text' },
                        { header: '구입구분코드', name: 'contentTypeCd',
                            editor: {
                                type: 'select',
                                options: {
                                    listItems: [
                                        { text: '블루레이', value: 'Bluray' },
                                        { text: 'DVD', value: 'DVD' },
                                        { text: 'CD', value: 'Album' },
                                        { text: '서적', value: 'Book' },
                                        { text: '피규어', value: 'Figure' }
                                    ]
                                }
                            }
                        },
                        { header: 'title', name: 'title', editor: 'text' },
                        { header: 'artist', name: 'artist', editor: 'text' },
                        { header: 'note', name: 'contentNote', editor: 'text' },

                        { header: 'type', name: 'version', editor: 'text' },
                        { header: '분류', name: 'genre', editor: 'text' },
                        { header: '성인구분', name: 'xrateYn',
                            editor: {
                                type: 'select',
                                options: {
                                    listItems: [
                                        { text: 'Y', value: 'Y' },
                                        { text: 'N', value: 'N' }
                                    ]
                                }
                            }
                        },
                        { header: '감상정리여부', name: 'writeReviewYn',
                            editor: {
                                type: 'select',
                                options: {
                                    listItems: [
                                        { text: 'Y', value: 'Y' },
                                        { text: 'N', value: 'N' }
                                    ]
                                }
                            }
                        },
                        { header: '재감상여부', name: 'reViewYn',
                            editor: {
                                type: 'select',
                                options: {
                                    listItems: [
                                        { text: 'Y', value: 'Y' },
                                        { text: 'N', value: 'N' }
                                    ]
                                }
                            }
                        },

                        { header: '수령일자', name: 'receiptDate',
                            editor: {
                                type: 'datePicker',
                                options: {
                                    format: 'yyyy-MM-dd'
                                }
                            }
                        },
                        { header: '관련글', name: 'contentBlogUrl', editor: 'text'},
                        { header: '상품발매국가', name: 'salesCountry', editor: 'text'},
                        { header: '상품종류', name: 'conditionType', editor: 'text'},
                        { header: '상품가격통화', name: 'currency', editor: 'text'},

                        { header: '상품금액', name: 'amount', editor: 'text'},
                        { header: '상품주문정보', name: 'orderNum', editor: 'text'},
                        { header: '상품구입처', name: 'buyingLocation', editor: 'text'},
                        { header: '결제수단', name: 'paymentMethod', editor: 'text'},
                        { header: '발매일자', name: 'releaseDate',
                            editor: {
                                type: 'datePicker',
                                options: {
                                    format: 'yyyy-MM-dd'
                                }
                            }
                        },

                        { header: '메모', name: 'memo', editor: 'text'}
                    ]
            });
        }

        grid = createGrid( 'all' ); // Set default Grid

        // 종류 변경시 그리드 데이터 재조회
        $("#contentTypeCd").change(function() {

            if (grid) {
                document.getElementById('grid').innerHTML = "";
            }

            grid = createGrid( $("#contentTypeCd option:selected").val() );
        });

        // 데이터 입력버튼 클릭시 행 추가
        $("#dataInput").click(function() {

            var addRow = grid.getRowCount();

            grid.appendRow( addRow , {} );

            grid.setValue( addRow, "xrate_yn", "N", false ); // 성인구분
            grid.setValue( addRow, "write_review_yn", "N", false ); // 감상정리여부
            grid.setValue( addRow, "re_view_yn", "N", false ); // 재감상여부

            grid.setValue( addRow, "receipt_date", "2020-05-15", false ); // 수령일자


        });

    </script>
</html>